*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    margin: 0;
}
button{
    background-color: #3882F6;
    color: white;
    padding: 4px 21px;
    border-radius: 6px;
}
.header{
    background-color: #1F2937;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}
p, .headerlinks{
 font-size: 15px;
 color: #E5E7EB;
}
p{
    max-width: 450;
}
h3{
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}
.headerlinks{
    text-decoration: none;
}
.placeholderimg{
    color: white;
    background-color: rgb(109, 109, 117);
    width: 400px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    
}
.topheader{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 80px;
}
.headerlinks{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0:
}
.centerheader{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 90px;
}
.centerhalf1{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 120px;
    align-items: flex-start;
}
.logo{
    margin-top: 0;
}

.quarter2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.q2box{
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
    padding-bottom: 80px;

}
.bluesquare{
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border-width: 4px;
}
.q2p{
    color: darkslategrey;
    max-width: 150px;
}
.q2head{
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quarter3{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    padding-left: 190px;
    padding-right: 150px;
    padding-top: 70px;
    padding-bottom: 0px;
    margin-bottom: 0;

}
.boldquote{
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
    padding-right: 250px;
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 65px;

}

.quarter4{
    display: flex;
    justify-content: center;

}
.q4content{
    display: flex;
    background-color: #3882f6;
    margin-top: 75px;
    margin-bottom: 75px;
    justify-content: space-around;
    width: 900px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;

}
.q4button{
    display: flex;
    align-self: center;

}
.q4text{
    padding: 0px;
    margin: 0;
    align-self: center;

}
.boldphrase{
    font-weight: 900;
    color: #F9FAF8;
    font-size: 20px;
    padding-top: 25px;
    margin: 0;
}
.normaltext{
    padding-bottom: 25px;
    margin: 0;
}
.button2{
    border-color: white;
}
.footer{
    background-color: #1F2937;
}
.copyright{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 30px;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}
a:hover{
    color: cyan;
}
button:hover{
    color: cyan;
}